* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  touch-action: pan-x pan-y;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #222;
  position: relative;
  min-height: 100vh;
  background-image: linear-gradient(225deg, #32908d, #fb87c9);
}

.modal {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  gap: 2rem;
  width: 95%;
  height: 75%;
  padding: 1.3rem;
  max-width: 600px;
  position: absolute;
  z-index: 2;
  bottom: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px 15px 0 0;
  transition: .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.modal .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.modal p {
  font-size: 0.9rem;
  color: #777;
  margin: 0.4rem 0 0.2rem;
}

button {
  cursor: pointer;
  border: none;
  font-weight: 600;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

.btn {
  /* position: absolute; */
  display: inline-block;
  padding: 0.8rem 1.4rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border-radius: 10px;
  text-align: center;
  font-size: 1em;
}

.btn-open {
  position: absolute;
  top: 50px;
}

.btn-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%;
}

.overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);;
  z-index: 1;
}

.hidden {
  display: none;

}